/* CSS for the splash screen */
body {
    margin: 0;
    overflow: hidden;
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Menggunakan tinggi viewport untuk menutupi seluruh tinggi layar */
    background: #ffffff; /* Warna latar belakang dapat disesuaikan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Menetapkan nilai z-index tinggi agar elemen muncul di atas elemen lain */
}


#splash-screen img {
    width: 150px;
    /* Adjust the width as needed */
    height: 70px;
    /* Adjust the height as needed */
}